button:hover {
    transition: 0.7s;
    -webkit-transition: 0.7s; /* for Safari & Chrome */

    /* background-color: #19A974; */
    color: #F2F2F2;
    letter-spacing: 4px;
}

.buy {
    background-color: #19A974;
}

.sell {
    background-color: #010358;
    color: #F2F2F2
}