<div class="flex flex-column bb bw1 b--light-silver">
    <h1 class="f4 citi-lightblue-bg ttu tracked tc pa2">Make a trade</h1>
    <h3 class="f3 tc ma0 pa2">Choose a Stock</h3>
    <select class="center w-60" name="ticker-name" id="ticker-name" required (change)="onStockChoiceChange($event)">
        <option value="" disabled selected hidden>Choose Company</option>
        <option *ngFor="let stock of stockChoices;let indexOfelement=index;" value="{{indexOfelement}}">{{stock.companyName}}</option>
    </select>

    <p class="f4 mt4 mb0 tc">{{chosenStock}} stocks are currently going for...</p>
    <p class="f4 mt4 mb0 tc" *ngIf="chosenQuantity != 0" >you currently own {{chosenQuantity}} shares</p>
    <p class="ma0 f2 tc">{{chosenStockPrice | currency : '$'}}</p>
    <h3 class="ma0 mt3 f3 pa2 tc">Buy/Sell {{chosenStock}} Stocks</h3>
    <input type="number" id="trade-quantity" name="trade-quantity" 
        class="tc center w-40" placeholder="Input Quantity" (input)="onChangeQuantity($event)">
    <h3 class="f3 mt4 mb0 center">Total Cost: {{chosenStockPrice * quantity | currency : '$'}}</h3>
    <button [ngClass]="{'buy':ticker != '' && quantity > 0}" class="center bg-moon-gray ttu tracked mt3 mb3 pa2 bn br-pill pointer w-90" (click)="onMakeTrade()">
        Purchase
    </button>
    <button *ngIf="chosenQuantity != 0" [ngClass]="{'sell':ticker != '' && quantity > 0 && (chosenQuantity - quantity) >= 0}" class="center bg-moon-gray ttu tracked mt3 mb3 pa2 bn br-pill pointer w-90" (click)="onSellTrade()">
        Sell
    </button>
</div>
