<div class="bb bw1 b--light-silver pt1 pb3">
    <h1 class="f4 citi-lightblue-bg ttu tracked tc pa2">Market Indices</h1>
    <div class="flex">
        <div *ngFor="let indice of big3info" class="center w-30 pl2 pr2">
            <h4 class="mt3 tc f3">{{indice.name}}</h4>
            <div class="tc f4">${{indice.price}}</div>
            <div class="tc f4" [ngClass]="{
                'positive' : indice.perc >= 0,
                'negative' : indice.perc < 0
            }">{{indice.perc}}%
        </div>
    </div>
</div>