/* Global Colors */
.citi-darkblue-bg {
    background-color: #010358;
}

.citi-darkblue {
    color: #010358;
}

.citi-blue-bg {
    background-color: #365B98;
}

.citi-blue {
    color: #365B98;
}

.citi-lightblue-bg {
    background-color: #6AB3D9;
}

.citi-lightblue {
    color: #6AB3D9;
}

.citi-white-bg {
    background-color: #F2F2F2;
}

.citi-white {
    color: #F2F2F2;
}

.citi-red-bg {
    background-color: #D81C1C;
}

.citi-red {
    color: #D81C1C;
}

/* Global Fonts */
