th {
    height: 40px;
    font-size: 1.5vmin;
    min-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    
}

tr {
    border: 1px solid black;
}
td{
    font-size: 2vmin;
    min-width: 50px; 
}

/* .tablediv {
    padding:20px;
  } */

  tbody {
      display:block;
      height:300px;
      overflow:auto;
  }
  thead, tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;/* even columns width , fix width of table too*/
  }
  thead {
      /*width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
  }
  /* table {
      width:400px;
  } */