<div class="flex flex-column">
    <input type="text" id="search-history" name="search-history" placeholder="filter history" 
        class="w-20 self-end mr3" [(ngModel)]="textInput" (ngModelChange) = "FilterHistory()">
    <!-- Remember to refresh table w/ new data every 5 minutes -->
	<table class="ma3 ba b--silver collapse shadow-2">
		<thead class="f5 citi-blue-bg citi-white ttu tracked">
			<tr>
                <th class="w-10">Ticker Sym</th>
                <th class="w-10">Stock Price</th>
                <th class="w-10">Quantity</th>
                <th class="w-10">Type</th>
                <th class="w-10">Date Submitted</th>
                <th class="w-10">Status</th>
			</tr>
        </thead>
        <tbody>
            <!-- Create table rows based on incoming JSON data-->
            <tr *ngFor="let trade of tradeHistArray.slice().reverse()" class="striped--near-white f6">
                <td class="tc w-10 pa2">{{trade.stockTicker}}</td>
                <td class="tc w-10 pa2">{{trade.price | currency : '$'}}</td>
                <td class="tc w-10 pa2">{{trade.stockQuantity}}</td>
                <td class="tc w-10 pa2">{{trade.type}}</td>
                <td class="tc w-10 pa2">{{trade.id.date | date : 'short'}}</td> <!-- Should be changed to trade.dateCreated once Make a Trade functionality is added-->
                <td class="tc w-10 pa2">{{trade.state}}</td>
        </tr> 
    </tbody>
    </table>
</div>
