<div class="flex citi-blue-bg pt3 pb2 shadow-2">
    
    <div class="flex self-end justify-center w-100 mr3">
    <h4 class="pl4 mb0 ttu tracked-mega citi-white">Group TBB1 Trade Application</h4>
    </div>
</div>
