<div class="flex flex-column bb bw1 b--light-silver">
    <app-big-three></app-big-three>
    <h1 class="f4 citi-lightblue-bg ttu tracked tc pa2">Trade Advice</h1>
    <h3 class="f3 tc ma0 pa2">Choose a Stock</h3>
    <select class="center w-60" name="ticker-name" id="ticker-name" required (change)="onStockChoiceChange($event)">
        <option value="" disabled selected hidden>Choose Company</option>
        <option *ngFor="let stock of stockChoices;let indexOfelement=index;" value="{{indexOfelement}}">{{stock.companyName}}</option>
    </select>

    <p class="f4 mt4 mb0 tc">Current Advice for {{ticker}}:</p>
    <div class = "advice_container">
    <p class="f4 mt4 tc">{{advice}}</p>
    </div>
    <button [ngClass]="{'positive':ticker != ''}" class="bg-moon-gray ttu tracked mt3 mb3 pa2 bn pointer br-pill w-90 center hover-bg-gray" required (click)="onChooseAdvice($event)">
        See Bollinger Bands
    </button>
    <img src="{{graphUrl}}" alt="">
    
</div>
