<div class="flex flex-column">
    <!-- Remember to refresh table w/ new data every 5 minutes -->
	<table class="ma3 ba b--silver collapse shadow-2">
		<thead class="f5 citi-blue-bg citi-white ttu tracked">
			<tr>
                <th class="w-10">Ticker Sym</th>
                <th class="w-10">Stock Price</th>
                <th class="w-10">Quantity</th>
                <th class="w-10">Total Value</th>
			</tr>
		</thead>
        <tbody>
        <!-- Create table rows based on incoming JSON data-->
        <tr *ngFor="let trade of portfolioEntries" class="striped--near-white f6">
            <td class="tc w-10 pa2">{{trade.stockTicker}}</td>
            <td class="tc w-10 pa2">{{trade.stockPrice | currency : '$'}}</td>
            <td class="tc w-10 pa2">{{trade.amount}}</td>
            <td class="tc w-10 pa2">{{trade.assetPrice}}</td> <!-- Should be changed to trade.dateCreated once Make a Trade functionality is added-->
            
        </tr>
        </tbody> 
    </table>
</div>
