<div class="flex flex-column bb bw1 b--light-silver">

    <p class="f3 pa0 ma0">Portfolio Return: </p>
    <div class="performance"[ngClass]="{
      'positive' : portfolioTotal >= 0,
      'negative' : portfolioTotal < 0
  }">
      <p class="portfolioTotal pa0 ma0">{{portfolioTotal}}%</p>
    </div>


<div id="chartContainer" style="height: 400px; width: 100%; margin-left:auto;margin-right:auto;"></div>

</div>