.portfolio-container{
    width: 50%;
}
.positive{
    color: green;
}

.negative{
    color: red;
}
.portfolioTotal{
    text-align: center;
    font-size: 4vw;
}

h2{
    text-align:center;
}
p{
    text-align:center;
}
