<div>
    <!-- Left column component(s)-->
    <div class="bg-near-white flex flex-column fl w-30 br bw1 b--light-silver shadow-2">
        <app-make-trade></app-make-trade>
        <app-market-summary></app-market-summary>
    </div>

    <!-- Right column component(s)-->
    <div class="flex flex-column fl w-70">
        <app-trade-history></app-trade-history>
    </div>
</div>
