<div class="flex flex-column">
    <h1 class="f4 citi-lightblue-bg ttu tracked tc pa2">Trade History</h1>
    <app-table></app-table>
    <h1 class="f4 citi-lightblue-bg ttu tracked tc pa2">Portfolio</h1>
    <app-portfolio-screen></app-portfolio-screen>
    <app-portfolio-table></app-portfolio-table>
</div>
